* {
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
}

  section div {
    border: 5px black solid;
    width: auto;
    height: 200px;
    margin: 10px;
    padding: 10px;
    font-size: 100px;
    text-align: center;
    color: white;
}

.box {
    padding: 0 0 100px 0;
}

.div1 {
    background: linear-gradient(to right,yellow , orange ,red ,green , lightgreen , purple , blue );
    
    
}

.div2 {
    background: radial-gradient(at top,yellow, orange,red,green, lightgreen, purple, blue );
}

.div3 {
    background: conic-gradient(red, blue, yellow, green);
}

.div4 {
    background: repeating-linear-gradient(120deg,yellow 1%, orange 2%,red 3%,green 4%, lightgreen 5%, purple 6%, blue 7% );
}

.div5 {
    background: url('./css.png'), linear-gradient(#d3d3d3, #f8f6f6);
    background-repeat: repeat;
    background-position: center;
     background-size: contain; 
    background-attachment: scroll;
} 

.circle {
    margin: 200px 0 0 100px;
    padding: 100px;
    border: 5px blue solid;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: blue;
    
}

.square {
    margin: 100px;
    padding: 100px;
    border: 5px blue solid;
    width: 100px;
    height: 100px;
    background-color: blue;
    float: left;
}

li {
    color: white;
    display: inline-block;
    list-style: none;
    background-color: black;
    width: auto;
    overflow: auto;
    letter-spacing: 3px;
}

p, li {
  /*   letter-spacing: 10px; */
    line-height: 29px;
      text-shadow: 2px 2px 5px blue;
      /* white-space: nowrap; */
}

img {
    float: left;
}


.container {
    border: 5px blue solid;
    width: 900px;
    height: 1000px;
    position: relative;
}

 .outer {
    border: 5px blue solid;
    width: 500px;
    height: 500px;
}

.inner{
    border: 5px blue solid;
    width: 250px;
    height: 250px;   
    color: white;
   
}

.inner span {
    background-color: black;
     font-size: 48px;
    position:sticky; 
}

.box1 ,.box2, .box3 {
    margin-left: 30px;
}

.box1 {
    /* border: 5px black solid; */
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    left: 500px;
}

.box2 { 
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
    left: 300px;
}

.box3 {
    width: 300px;
    height: 300px;
    background-color: green;
}
