* {
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
}

  section div {
    border: 5px black solid;
    width: auto;
    height: 200px;
    margin: 10px;
    padding: 10px;
    font-size: 100px;
    text-align: center;
    color: white;
}

.box {
    padding: 0 0 100px 0;
}

.div1 {
    background: linear-gradient(to right,yellow , orange ,red ,green , lightgreen , purple , blue );
    
    
}

.div2 {
    background: radial-gradient(at top,yellow, orange,red,green, lightgreen, purple, blue );
}

.div3 {
    background: conic-gradient(red, blue, yellow, green);
}

.div4 {
    background: repeating-linear-gradient(120deg,yellow 1%, orange 2%,red 3%,green 4%, lightgreen 5%, purple 6%, blue 7% );
}

.div5 {
    background: url('./css.png'), linear-gradient(#d3d3d3, #f8f6f6);
    background-repeat: repeat;
    background-position: center;
     background-size: contain; 
    background-attachment: scroll;
} 

.circle {
    margin: 200px 0 0 100px;
    padding: 100px;
    border: 5px blue solid;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: blue;
    
}

.square {
    margin: 100px;
    padding: 100px;
    border: 5px blue solid;
    width: 100px;
    height: 100px;
    background-color: blue;
    float: left;
}

li {
    color: white;
    display: inline-block;
    list-style: none;
    background-color: black;
    width: auto;
    overflow: auto;
    letter-spacing: 3px;
}

ul + p {
    color: brown;
}

p, li {
  /*   letter-spacing: 10px; */
    line-height: 29px;
      text-shadow: 2px 2px 5px blue;
      /* white-space: nowrap; */
}

img {
    float: left;
    overflow: hidden;
}


.container {
    border: 5px blue solid;
    width: 900px;
    height: 1000px;
    position: relative;
}

 .outer {
    border: 5px blue solid;
    width: 500px;
    height: 500px;
}

.inner{
    border: 5px blue solid;
    width: 250px;
    height: 250px;   
    color: white;
   
}

.inner span {
    background-color: black;
     font-size: 48px;
    position:sticky; 
}

.box1 ,.box2, .box3 {
    margin-left: 30px;
}

.box1 {
    /* border: 5px black solid; */
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    left: 500px;
}

.box2 { 
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
    left: 300px;
}

.box3 {
    width: 300px;
    height: 300px;
    background-color: green;
}

.grid{
    font-size: 100px;
    text-align: center; 
}

.grid a{
 text-decoration: none;
 font-style: italic;
    color: black;
}

.grid-container {
    width: auto;
    height: 1000px;
    background-color: #aca9a9;
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    /* row-gap: 10px;
    column-gap: 10px; */
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: space-between;
    
}

.grid-item {
    width: 100px;
    height: 100px;
    background-color: rgb(4, 4, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   
}

.grid-item10 {
    grid-column: 2 /  3;
    grid-row: 2/span 3;
    position: relative;
}

.grid-item5 {
     grid-row: 4/ 5;
    grid-column: 1/2;
}

.square1 {
    width: 10px;
    height: 100px;
    background-color: blue;
    position: absolute;
    bottom: 100px;
    left: 100px;
    
}

/* Main grid  */
.grid-itema {
    background-color: rgb(4, 4, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

.grid-page {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: 
        "box11 box12 box12 box13"
        "box11 box12 box12 box14"
        "box11 box12 box12 box14"
        "box11 box15 box16 box17";
}

/* Assign grid areas */
.grid-item11 { grid-area: box11; }
.grid-item12 { grid-area: box12; }
.grid-item13 { grid-area: box13; }
.grid-item14 { grid-area: box14; }
.grid-item15 { grid-area: box15; }
.grid-item16 { grid-area: box16; }
.grid-item17 { grid-area: box17; }

/* Nested grid container */
.nested-container {
    padding: 5px;
    display: flex;
}

/* Nested grid layout (inside box12) */
.nested-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    grid-template-areas: 
        "box21 box22 box22 box23"
        "box21 box22 box22 box24"
        "box21 box22 box22 box24"
        "box21 box25 box26 box27";
}

.grid-itemaa {
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.grid-item21 { grid-area: box21; }
.grid-item22 { grid-area: box22; }
.grid-item23 { grid-area: box23; }
.grid-item24 { grid-area: box24; }
.grid-item25 { grid-area: box25; }
.grid-item26 { grid-area: box26; }
.grid-item27 { grid-area: box27; }


.media {
    width: auto;
    height: 1500px;
    background-color: black;
    color: white;
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
   
}

@media (max-width: 1500px) {
    .media {
    background-color: black;
    display: flex;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    }
}

@media (max-width: 1400px) {
    .media {
    background-color: rgb(255, 0, 0);
    display: flex;
    font-size: 90px;
    justify-content: center;
    align-items: center;
    align-content: center;
    }
}

@media (max-width: 1300px) {
    .media {
        background-color: rgb(255, 230, 0);
        display: flex;
        font-size: 80px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: 1200px) {
    .media {
        background-color: rgb(47, 255, 0);
        display: flex;
        font-size: 70px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: 1000px) {
    .media {
        background-color: rgb(0, 21, 255);
        display: flex;
        font-size: 60px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: 750px) {
    .media {
        background-color: rgb(255, 0, 238);
        display: flex;
        font-size: 50px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: 500px) {
    .media {
        background-color: rgb(30, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 40px;
    }
}

@media (max-width: 300px) {
    .media {
        background-color: rgb(255, 0, 119);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 40px;
    }
}